*.log
*.debhelper
*.substvars
*.in
*.o
*.la
*.lo
.libs
INSTALL
aclocal.m4
compile
config.*
configure
depcomp
install-sh
ltmain.sh
m4/
missing
Makefile
stamp-h1
debian/files
debian/libgpio-dev/
debian/libgpio1
debian/tmp
examples/testpin
libgpio.pc
libtool
