# wildcard rules
.*
!.gitignore
*~
\#*#
*.log
*.debhelper
*.substvars
*.in
*.o
*.la
*.lo
config.*

# directories
autom4te.cache/
doxydoc/
m4/

# specific rules
INSTALL
aclocal.m4
compile
configure
depcomp
examples/testpin
install-sh
libgpio.doxy
libgpio.pc
libtool
ltmain.sh
missing
Makefile
stamp-h1
