Source: libgpio
Priority: extra
Maintainer: Manuel Traut <manut@linutronix.de>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, libconfig-dev, git, dh-autoreconf, po-debconf
Standards-Version: 4.1.5
Homepage: https://github.com/Linutronix/libgpio
Section: libs

Package: libgpio-dev
Section: libdevel
Architecture: any
Depends: libgpio3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libconfig-dev
Description: development headers for libgpio
 libgpio is used to control gpio pins that can be exported via sysfs.
 (Development files)

Package: libgpio3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPIO helper library
 libgpio is used to control gpio pins that can be exported via sysfs.
