Source: libgpio
Priority: optional
Maintainer: Linutronix GmbH <info@linutronix.de>
Uploaders: Benedikt Spranger <b.spranger@linutronix.de>
Build-Depends: debhelper (>= 10), libconfig-dev, git, po-debconf
Standards-Version: 4.0.0
Section: libs

Package: libgpio-dev
Section: libdevel
Architecture: any
Depends: libgpio3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libconfig-dev
Description: development headers for libgpio
 libgpio is used to control gpio pins that can be exported via sysfs

Package: libgpio3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPIO helper library
 libgpio is used to control gpio pins that can be exported via sysfs
